{% extends './base.html' %}
{% load static %}

{% block title %}Edit {{ tenant.name }}{% endblock %}

{% block content %}
<h1>Edit {{ tenant.name }} details</h1>

<form method="POST">
	{% csrf_token %}
	<div class="row">
		<div class="col-md-6">
			{{ tenantform.as_p }}
			<button type="submit" class="btn btn-xl btn-success" id="formsubmit">Save</button>
			<a class="btn btn-xl btn-danger" href="{% url 'delete_tenant' tenant.id %}?next={{ request.GET.next }}">Delete</a>
		</div>
	</div>
</form>
{% endblock %}
